body {
    background: #95afc0;
    font-family: 'Quicksand', sans-serif;
    text-transform: lowercase;
    text-align: center;
    color: white;
    padding: 30px;
}

h1 {
    font-size: 48px;
    font-family: 'Major Mono Display', monospace;
    letter-spacing: 2px;
    text-align: center;
}

#temp {
    font-size: 150px;
    font-family: 'Quicksand', sans-serif;
    letter-spacing: -5px;
    display: grid;
    padding: 25px 5px;
}

p {
    font-size: 16px;
    font-family: 'Quicksand', sans-serif;
    text-align: center;
}

.btn {
    font-size: 12px;
    font-family: 'Quicksand';
}